# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Aleshko_lab1/Aleshko_lab1/.vs/Aleshko_lab1/v17/ipch/AutoPCH/ca37956678c613f6/SESSION.ipch
Aleshko_lab1/Aleshko_lab1/.vs/Aleshko_lab1/v17/ipch/AutoPCH/f2d4ea4845e71901/ALESHKO_CONSOLE.ipch
/Aleshko_lab1/Aleshko_lab1/.vs
